/**
 * @file icon.css
 */

@font-face {
    font-family: "ddicon";
    src: url("../../style/font/ddicon.eot"); /* IE9 */
    src: url("../../style/font/ddicon.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../style/font/ddicon.woff") format("woff"), /* chrome、firefox */
    url("../../style/font/ddicon.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("../../style/font/ddicon.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}


.icon {
    font-family: "ddicon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-plus:before {
  content: "\100";
}

.icon-hyphen:before {
  content: "\101";
}

.icon-rmb:before {
  content: "\102";
}

.icon-arrow-right:before {
  content: "\103";
}

.icon-map:before {
  content: "\104";
}

.icon-Cacute:before {
  content: "\106";
}

.icon-cacute:before {
  content: "\107";
}

.icon-concentric-circle:before {
  content: "\108";
}

.icon-circle:before {
  content: "\109";
}

.icon-bus:before {
  content: "\10a";
}

.icon-arrow-right-half:before {
  content: "\10b";
}

.icon-Ccaron:before {
  content: "\10c";
}

.icon-ccaron:before {
  content: "\10d";
}

.icon-arrow2-left:before {
  content: "\10e";
}

.icon-wallet2:before {
  content: "\10f";
}

.icon-dcroat:before {
  content: "\111";
}

.icon-mail-circle:before {
  content: "\112";
}

.icon-fire:before {
  content: "\113";
}

.icon-wechat:before {
  content: "\114";
}

.icon-walk:before {
  content: "\115";
}

.icon-close:before {
  content: "\116";
}

.icon-list*clock:before {
  content: "\117";
}

.icon-focus:before {
  content: "\118";
}

.icon-loading:before {
  content: "\119";
}

.icon-track:before {
  content: "\11a";
}

.icon-map2:before {
  content: "\11b";
}

.icon-exchange:before {
  content: "\11c";
}

.icon-list-arrow:before {
  content: "\11d";
}

.icon-Gbreve:before {
  content: "\11e";
}

.icon-gbreve:before {
  content: "\11f";
}

.icon-busicon:before {
  content: "\120";
}

.icon-stop-arrow:before {
  content: "\121";
}

.icon-railwayicon:before {
  content: "\122";
}

.icon-stopexchange:before {
  content: "\123";
}

.icon-realtimeicon:before {
  content: "\124";
}

.icon-roadsmallarrow:before {
  content: "\125";
}

.icon-refresh:before {
  content: "\126";
}

.icon-failed:before {
  content: "\127";
}

.icon-success:before {
  content: "\128";
}

.icon-search:before {
  content: "\129";
}

.icon-maparrow:before {
  content: "\12a";
}

.icon-toast-success:before {
  content: "\12b";
}

.icon-toast-wrong:before {
  content: "\12c";
}

.icon-toast-alarm:before {
  content: "\12d";
}

.icon-c-question:before {
  content: "\200";
}

.icon-c-car:before {
  content: "\201";
}

.icon-c-rmb:before {
  content: "\202";
}

.icon-c-more:before {
  content: "\203";
}

.icon-c-shutdown:before {
  content: "\204";
}

.icon-c-ticket:before {
  content: "\205";
}

.icon-c-arrow-left:before {
  content: "\206";
}

.icon-c-info:before {
  content: "\207";
}

.icon-c-shopcart:before {
  content: "\208";
}

.icon-c-money:before {
  content: "\209";
}

.icon-c-wallet:before {
  content: "\20a";
}

.icon-c-copy:before {
  content: "\20b";
}

.icon-c-tool:before {
  content: "\20c";
}

.icon-c-gift:before {
  content: "\20d";
}

.icon-c-ticket2:before {
  content: "\20e";
}

.icon-c-close:before {
  content: "\20f";
}

.icon-c-map:before {
  content: "\210";
}

.icon-c-user:before {
  content: "\211";
}

.icon-c-correct:before {
  content: "\212";
}

.icon-c-home:before {
  content: "\213";
}

.icon-busroadicon:before {
  content: "\214";
}

.icon-location:before {
  content: "\215";
}



